.btnP {
  margin: 10px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid black;
  transition: all 0.2s;
}

.btnP:hover {
  background-color: lightgreen;
}

.btnS {
  margin: 10px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid black;
  transition: all 0.2s;
}

.btnS:hover {
  background-color: rgb(219, 70, 43);
}

.btnT {
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  padding: 8px 0;
  display: flex;
  /* margin: 0px 20px; */
  background: #f2f2f2;
  border-radius: 2px;
  color: black;
  font-size: 1rem;
  justify-content: center;
  text-decoration: none;
  border: 1px solid black;
  transition: all 0.3s;
}

.btnT:hover {
  color: white;
  background-color: black;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: auto;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.15rem;
  color: #5d5d5d;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.15rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  /* font-weight: 700; */
  border-width: 3px;
  /* border-image: linear-gradient(to right, #11998e, #38ef7d); */
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.1s;
  font-size: 1rem;
  /* color: #11998e; */
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
